.itemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    color: #777777;
    font-size: 20px;
    padding: 10px;
}

.item {

}

.deleteBtn {
    color: #ffffff;
    background-color: #c3deff;
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.deleteBtn:hover {
    cursor: pointer;
}